#banner{
    background-image: url('https://images.unsplash.com/photo-1609726494499-27d3e942456c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80') ;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}